<h2><%= @article.title %></h2>
<% @article.content.each do |para| %>
  <p><%= para %></p>
<% end %>
<p> This article was updated at <%= @article.updated_at %></p>

<%= link_to "Edit this article", edit_article_path(@article) %>
<%= link_to "Home", articles_path %>
